/*************************************************
 * FOOTER - MEDIUM
 *************************************************/

footer {
    text-align: left;

    .cta-link {
        margin-top: 6px;
    }

    .logo {
        width: 25%;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    #social-icons {
        margin-top: -38px;
    }
}
