/****************************************
* TYPOGRAPHY
****************************************/

/* CIRCULAR STANDARD */
@font-face {
    font-family: 'CircularStdBook';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Book'), url('../fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
    font-family: 'CircularStdBlack';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Black'), url('../fonts/CircularStd-Black.woff') format('woff');
}

/* GEORGIA ITALIC */
%font-italic {
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: italic;
}
