/*************************************************
 * SETTINGS - VARS
 *************************************************/

/* ----- SITE ----- */
$gutter: 20px;

/* ----- BREAKPOINTS ----- */
$screen-width-xs: 320px;
$screen-width-sm: 576px;
$screen-width-md: 768px;
$screen-width-lg: 992px;
$screen-width-xl: 1400px;

/* ----- FONT FAMILY ----- */
$font-regular: "CircularStdBook", Arial, Helvetica, sans-serif;
$font-bold: "CircularStdBlack", "Arial Black", sans-serif;

/* ----- FONT SIZES ----- */
$font-size-0: 10px;
$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-size-5: 26px;
$font-size-6: 28px;
$font-size-7: 34px;
$font-size-8: 42px;
$font-size-9: 48px;
$font-size-10: 58px;
$font-size-11: 72px;
$font-size-12: 126px;

/* ----- COLORS ----- */
$color-black: #272728;
$color-white: #FFFFFF;
$color-primary: #FF0538;
$color-primary-opacity: rgba(255, 5, 56, 0.8);
$color-secondary: #2B3882;
$color-secondary-opacity: rgba(43, 56, 130, 0.8);
$color-grey-light: #F3F3F3;
$color-grey: #D8D8D8;
$color-grey-dark: #9B9B9B;
$color-grey-opacity: rgba(216, 216, 216, 0.3);
