/*************************************************
 * TOOLS - HELPERS
 *************************************************/

.background-black {
    background-color: $color-black;
}

.background-white {
    background-color: $color-white;
}

.background-primary {
    background-color: $color-primary;
}

.background-secondary {
    background-color: $color-secondary;
}

.background-grey-light {
    background-color: $color-grey-light;
}

.background-grey {
    background-color: $color-grey;
}

.background-grey-dark {
    background-color: $color-grey-dark;
}
