/*************************************************
 * CARDS - MEDIUM
 *************************************************/

.card-deck {
    .card {
        min-width: calc(50% - 24px);
        max-width: calc(50% - 24px);

        &.background-white {
            margin-left: 24px;
            margin-right: 24px;

            min-width: calc(50% - 48px);
            max-width: calc(50% - 48px);
        }
    }
}

.card-group {
    &.card-profiles {
        margin-left: 0;
        margin-right: 0;

        .card {
            min-width: 50%;
            max-width: 50%;
        }
    }
}
